.widget-wrapper {
  border: 1px solid #80b3d5;
  display: inline-block;
  margin-bottom: 50px;
}
.widget-wrapper .widget-header {
  background-color: #d9edfb;
  border-bottom: 1px solid #80b3d5;
  position: relative;
}
.widget-wrapper .widget-header h3 {
  color: #05415b;
  margin: 0;
  padding: 10px 0 10px 70px;
}
.widget-wrapper .icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #aebdc8;
  position: absolute;
  left: 10px;
  top: -10px;
  padding: 1px;
}
.widget-wrapper .icon-wrapper .icon-container {
  display: table;
  border-radius: 6px;
  width: 97%;
  height: 100%;
  text-align: center;
  background: -moz-linear-gradient(top, #ffffff 0%, #d9eef9 63%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #d9eef9 63%);
  background: linear-gradient(to bottom, #ffffff 0%, #d9eef9 63%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9eef9',GradientType=0 );
  border: 1px solid #aebdc8;
}
.widget-wrapper .icon-wrapper .icon-container .icon-dollar {
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  color: #05415b;
}
.widget-wrapper .icon-wrapper .icon-container .icon-down {
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  color: #fff;
}
.widget-wrapper .icon-wrapper .icon-container .icon-down:before {
  background-color: #05415b;
  padding: 3px 1px;
}
.widget-wrapper .widget-content .graph {
  float: left;
  position: relative;
}
.widget-wrapper .widget-content .graph #chart-one,
.widget-wrapper .widget-content .graph #chart-two {
  margin-top: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  width: 500px;
  height: 230px;
}
.widget-wrapper .widget-content .graph .graph-top-text {
  position: absolute;
  right: 10px;
  top: 22px;
  font-size: 14px;
}
.widget-wrapper .widget-content .graph .line-legend,
.widget-wrapper .widget-content .graph .bar-legend {
  margin: 0 auto;
  padding-left: 150px;
}
.widget-wrapper .widget-content .graph .line-legend li,
.widget-wrapper .widget-content .graph .bar-legend li {
  float: left;
  margin-right: 25px;
  padding-bottom: 15px;
}
.widget-wrapper .widget-content .graph .line-legend li span,
.widget-wrapper .widget-content .graph .bar-legend li span {
  color: #4d4d4d;
}
.widget-wrapper .widget-content .info {
  float: right;
  padding: 0 25px;
  margin-top: 50px;
}
.widget-wrapper .widget-content .info .info-value {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0 0 0 17px;
  color: #05415b;
  text-align: right;
}
.widget-wrapper .widget-content .info .info-value i {
  font-size: 20px;
  position: absolute;
  top: 12px;
  left: 5px;
  color: #2f6ca6;
}
.widget-wrapper .widget-content .info .value-details {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #215e8a;
  text-align: right;
}
.widget-wrapper .widget-content .info .btn-wrapper {
  background-color: #fff;
  border-radius: 6px;
  padding: 3px;
  margin-top: 115px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.widget-wrapper .widget-content .info .btn-wrapper .btn {
  display: block;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  background: #1bb5e1;
  background: -webkit-linear-gradient(#1bb5e1 0%, #056e8d 100%);
  background: -o-linear-gradient(#1bb5e1 0%, #056e8d 100%);
  background: linear-gradient(#1bb5e1 0%, #056e8d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bb5e1', endColorstr='#056e8d',GradientType=0 );
}
