// COLORS
$white: #fff;
$blue-bg: #d9edfb;
$blue-text: #05415b;
$blue-info-description: #215e8a;
$blue-light-text: #a4bed8;
$blue-icon-text: #2f6ca6;
$graph-orange: #ed6e37;
$graph-green: #259e01;
$graph-blue: #15a0c8;
$btn-start: #056e8d;
$btn-end: #1bb5e1;
$icon-bg-start: #d9eef9;
$icon-bg-end: #fff;
$border-widget-wrapper: #80b3d5;
$border-icon: #aebdc8;
$legend-text: #4d4d4d;