.widget-wrapper{
	border: 1px solid $border-widget-wrapper;
	display: inline-block;
	margin-bottom: 50px;
	.widget-header{
		background-color: $blue-bg;
		border-bottom: 1px solid $border-widget-wrapper;
		position: relative;
		h3{
			color: $blue-text;
			margin: 0;
			padding: 10px 0 10px 70px;
		}
	}
	.icon-wrapper{
		width: 40px;
		height: 40px;
		background-color: $white;
		border-radius: 6px;
		border: 1px solid $border-icon;
		position: absolute;
		left: 10px;
		top: -10px;
		padding: 1px;
		.icon-container{
			display: table;
			border-radius: 6px;
			width: 97%;
			height: 100%;
			text-align: center;
			background: -moz-linear-gradient(top, #ffffff 0%, #d9eef9 63%);
			background: -webkit-linear-gradient(top, #ffffff 0%,#d9eef9 63%);
			background: linear-gradient(to bottom, #ffffff 0%,#d9eef9 63%);;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9eef9',GradientType=0 );
			border: 1px solid $border-icon;
			.icon-dollar{
				display: table-cell;
				vertical-align: middle;
				font-size: 22px;
				color: $blue-text;
			}
			.icon-down{
				display: table-cell;
				vertical-align: middle;
				font-size: 22px;
				color: $white;
				&:before{
					background-color: $blue-text;
					padding: 3px 1px;
				}
			}
		}
	}
	.widget-content{
		.graph{
			float: left;
			position: relative;
			#chart-one,
			#chart-two{
				margin-top: 50px;
				margin-bottom: 25px;
				padding-left: 25px;
				width: 500px;
				height: 230px;
			}
			.graph-top-text{
				position: absolute;
				right: 10px;
				top: 22px;
				font-size: 14px;
			}
			.line-legend,
			.bar-legend{
				margin: 0 auto;
				padding-left: 150px;
				li{
					float: left;
					margin-right: 25px;
					padding-bottom: 15px;
					span{
						color: $legend-text;
					}
				}
			}
		}
		.info{
			float: right;
			padding: 0 25px;
			margin-top: 50px;
			.info-value{
				i{
					font-size: 20px;
					position: absolute;
					top: 12px;
					left: 5px;
					color: $blue-icon-text;
				}
				font-size: 48px;
				font-weight: bold;
				position: relative;
				margin: 0;
				padding: 0 0 0 17px;
				color: $blue-text;
				text-align: right;
			}
			.value-details{
				font-size: 15px;
				margin: 0;
				padding: 0;
				color: $blue-info-description;
				text-align: right;
			}
			.btn-wrapper{
				background-color: #fff;
				border-radius: 6px;
				padding: 3px;
				margin-top: 115px;
				-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
				.btn{
					display: block;
					border-radius: 6px;
					color: #fff;
					font-size: 16px;
					padding: 10px 20px;
					text-decoration: none;
					background: #1bb5e1;
					background: -webkit-linear-gradient(#1bb5e1 0%, #056e8d 100%);
					background: -o-linear-gradient(#1bb5e1 0%, #056e8d 100%);
					background: linear-gradient(#1bb5e1 0%, #056e8d 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bb5e1', endColorstr='#056e8d',GradientType=0 );
				}
			}
		}
	}
}